@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.body {
  padding-top: 20px;
  background-color: #e0ebeb;
  max-width: 900px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  margin: auto;
  border-radius: 7px;
}

.info {
  margin-bottom: 20px;
  margin-left: 20px;
  display: flex;
}

.info h3 {
  text-transform: uppercase;
  font-style: italic;
}

.photo {
  width: 300px;
  border-radius: 30px;
  margin-left: 20 px;
}

.bg-yellow {
  margin-bottom: 20px;
  padding: 15px 40px;
  margin: 15px;
  background: #ffff80;
}

.bg-green {
  margin-bottom: 20px;
  padding: 15px 40px;
  margin: 15px;
  background: #d9ffb3;
}

.bg-red {
  margin-bottom: 20px;
  padding: 15px 40px;
  margin: 15px;
  background: #ffcce6;
}

.skills {
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

ul {
  padding: 0px 20px;
}

li {
  margin-bottom: 5px;
}

.info-text {
  margin-left: 30px;
}

.info-text p {
  margin-bottom: 20px;
}

.code {
  margin-left: 20 px;
  background: #809fff;
  margin-bottom: 20px;
  padding: 15px 40px;
  margin: 15px;
  border-radius: 20px;
  display: flex;
}
.project {
  margin-left: 20px;
}
.git {
  margin-left: 20px;
}
.logo {
  width: 50px;
  margin: 50px 50px;
}
.year {
  text-align: right;
  margin-right: 20px;
  font-size: large;
}